body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  width: 900px;
  padding-left: 300px;
  padding-right: 300px;
}

.header {
  padding: 30px 0;
  overflow: hidden;
}

.logo {
  float: left;
  background: url("../images/logo.png");
  background-size: 146px 50px;
  width: 146px;
  height: 50px;
}

.menu {
  float: right;
  padding: 13px 0;
  font-size: 22px;
}

.menu > li {
  float: left;
  padding: 0 0 0 20px;
}

.menu > li > a {
  text-decoration: none;
  color: #555555;
}

.menu > li > a:hover {
  color: #333333;
  font-size: 28px;
}

.intro {
  padding: 100px 200px 100px 0;
}

.intro > h1 {
  font-size: 40px;
  padding-bottom: 20px;
}

.intro > p {
  font-size: 20px;
  line-height: 1.5;
}

.containter2 {
  background-color: #EFEFEF;
  width: 50%;
}

h2 {
  font-size: 25px;
  padding-bottom: 20px;
}

.containter2 > p {
  font-size: 20px;
  line-height: 1.5;
  float: left;
  background-color: #EFEFEF;
}

.photo1 {
  float: right;
  background: url("../images/sandigephoto1.jpg");
}
