body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
}

   .container.narrow {
      width: 900px;
   }

   .container.full {
      padding: 0 50px;
   }

h1 {
  font-size: 40px;
  padding-bottom: 20px;
}

h2 {
  font-size: 25px;
  padding-bottom: 20px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

.header {
  padding: 30px 0;
  overflow: hidden;
}

.logo {
  float: left;
  background: url("../images/logo.png");
  background-size: 146px 50px;
  width: 146px;
  height: 50px;
}

.menu {
  float: right;
  padding: 13px 0;
  font-size: 22px;
}

.menu > li {
  float: left;
  padding: 0 0 0 20px;
}

.menu > li > a {
  text-decoration: none;
  color: #555555;
}

.menu > li > a:hover {
  color: #333333;
  text-decoration: underline;
}

.section {
   padding: 100px 0;
   overflow: hidden;
}

   .block {
      float: left;
      width: 420px;
      padding-right: 60px;
   }

      .block:last-child {
         padding-right: 0;
      }

   .block > img {
      width: 100%;
   }

.bg-grey {
   background-color: #EFEFEF;
}

.bg-blue {
   background-color: #D8EAFF;
}
